.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    width: 90%;
    border-radius: 20px;
    z-index: 1000;
    overflow: hidden;
    flex: 2;
    align-items: center;
    
    
}
.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.n-name img{
  height: 17vh;
   width: 7rem;
}
.n-right{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.n-list{
    flex: 10;
}
.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    
}
.n-list ul li:hover{
    cursor: pointer;
    color: #FCA61F;
}
.n-button{
    flex: 2;
}
@media screen and (max-width: 480px) {
    .n-list{
        display: none;
    }
    .n-button{
        display: none;
    }
}

